@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

:root {
  --font-1: "Fredoka One", cursive;
  --font-2: "Questrial", sans-serif;
  --font-3: "Rampart One", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #141db2;
}

#actorlist h1 {
  text-align: center;
  font-size: 4rem;
  font-family: var(--font-3);
  color: yellow;
  margin-top: 1.5rem;
}

.text {
  text-align: center;
  color: yellow;
  margin-top: 1.5rem;
  font-family: var(--font-1);
  font-size: 1.5rem;
}

.actorlistGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 400px));
  gap: 5rem;
  margin: 2rem;
  justify-content: center;
}

.singleactor {
  height: 350px;
  border: 0.2rem solid red;
  border-radius: 6rem;
  background-color: red;
  position: relative;
}

.singleactor:hover {
  background-color: red;
  transition: 0.2s ease-in-out;
}

.onlyname {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.fullname {
  text-align: center;
  font-family: var(--font-2);
  font-size: 3rem;
  color: yellow;
}

.actorInfo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(180, 110, 110, 0.96);
  font-family: var(--font-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  opacity: 0;
  transition: opacity 0.25s;
  border-radius: 6rem;
}

.actorInfo > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.actorInfo:hover {
  opacity: 1;
}

.actorInfo:hover > * {
  transform: translateY(0);
}

.moviesContainer {
  display: flex;
  margin-top: -10rem;
  justify-content: center;
}

.starred {
  font-family: var(--font-1);
  font-size: 1.4rem;
  margin-right: 10px;
}

.movieIcon {
  width: 2rem;
  height: 2rem;
}

.movie {
  margin-top: 3rem;
  color: yellow;
}
